WorkFlows_Test/Information_Extractor.json
{
  "name": "Information_Extractor",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "attributes": {
          "attributes": [
            {
              "name": "dni",
              "description": "Extrae todos los números identificatorios nacionales como  dni, cif, que encuentres"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        48,
        0
      ],
      "id": "ad7bef19-f5a8-4e0c-bc69-ed9b4bff1df1",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        224
      ],
      "id": "80219912-4486-471f-b9a3-56ba6767a678",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FlqQoRxIgWMcrV57",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        0
      ],
      "id": "3bcee1c8-d2d6-49ac-9770-894ed5d919a8",
      "name": "When chat message received",
      "webhookId": "c39a54d1-0277-4178-b4a1-f2c227758e07"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6bcebb33-c5d7-4ff9-bcef-2d5964e99107",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "270d7de402522376d919cc839010a9ff4ff124d265120378ad91954c359f5497"
  },
  "id": "0jyHZlNqDjBuXOCI",
  "tags": []
}